{% extends 'layout.html' %}
{% block content %}
{% load static %}
<center><h2 style="font-family:fantasy">Welcome to Bidding Page</h2></center>
<div class="ABC">
<div class="card text-white bg-dark mb-3" style="max-width: 20rem;height:25rem">
  <div class="card-header">Electronics</div>
  <div class="card-body">
    <img src="{% static 'TTT.jpg' %}" alt="My image" style="height:160px">
    <p class="card-text">IPhone,Base Price : 25,000</p>
     <center><button type="button" class="btn btn-primary" style="background-color:grey;border-color:grey">
       Start Bidding
     </button></center>
  </div>
</div>
  <div class="card text-white bg-dark mb-3" style="max-width: 20rem;height:25rem">
  <div class="card-header">Electronics</div>
  <div class="card-body">
    <img src="{% static 'WWW.jpg' %}" alt="My image" style="height:200px">
    <p class="card-text">Boat,Base Price : 8,000</p>
     <center><button type="button" class="btn btn-primary" style="background-color:grey;border-color:grey">Start Bidding</button></center>
  </div>
</div>

  <div class="card text-white bg-dark mb-3" style="max-width: 20rem;height:25rem">
  <div class="card-header">Electronics</div>
  <div class="card-body">
    <img src="{% static 'TV.png' %}" alt="My image" style="height:200px">
    <p class="card-text">Samsung,Base Price : 15,000</p>
     <center><button type="button" class="btn btn-primary" style="background-color:grey;border-color:grey">Start Bidding</button></center>
  </div>
</div>

  <div class="card text-white bg-dark mb-3" style="max-width: 20rem;height:25rem">
  <div class="card-header">Painting</div>
  <div class="card-body">
    <center><img src="{% static 'RRR.jpg' %}" alt="My image" style="height:200px"></center>
    <p class="card-text">Claude Monet Painting,Base Price : 40,000</p>
     <center><button type="button" class="btn btn-primary" style="background-color:grey;border-color:grey">Start Bidding</button></center>
  </div>
</div>
</div>

<div class="ABC">

  <div class="card text-white bg-dark mb-3" style="max-width: 20rem;height:25rem">
  <div class="card-header">Exercise</div>
  <div class="card-body">
    <center><img src="{% static 'Dumb.jpg' %}" alt="My image" style="height:200px"></center>
    <p class="card-text">5kg Dumbles,Base Price : 1,000</p>
     <center><button type="button" class="btn btn-primary" style="background-color:grey;border-color:grey">Start Bidding</button></center>
  </div>
    </div>

  <div class="card text-white bg-dark mb-3" style="max-width: 20rem;height:25rem">
  <div class="card-header">Home</div>
  <div class="card-body">
    <center><img src="{% static 'Bed.jpg' %}" alt="My image" style="height:170px"></center>
    <p class="card-text">Kurlon Mattress,Base Price : 15,000</p>
     <center><button type="button" class="btn btn-primary" style="background-color:grey;border-color:grey">Start Bidding</button></center>
  </div>
    </div>

  <div class="card text-white bg-dark mb-3" style="max-width: 20rem;height:25rem">
  <div class="card-header">Home</div>
  <div class="card-body">
    <center><img src="{% static 'Fridge.jpg' %}" alt="My image" style="height:190px"></center>
    <p class="card-text">LG Fridge(35L),Base Price : 35,000</p>
     <center><button type="button" class="btn btn-primary" style="background-color:grey;border-color:grey">Start Bidding</button></center>
  </div>
    </div>

  <div class="card text-white bg-dark mb-3" style="max-width: 20rem;height:25rem">
  <div class="card-header">Sports</div>
  <div class="card-body">
    <center><img src="{% static 'SG.jpg' %}" alt="My image" style="height:190px"></center>
    <p class="card-text">SG English Willow Bat ,Base Price : 5,000</p>
     <center><button type="button" class="btn btn-primary" style="background-color:grey;border-color:grey">Start Bidding</button></center>
  </div>
    </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}